<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-matomo.html %}
<div class="container-lg my-5 markdown-body">
<h1>
<!--<a href="Home.md"><img align="left" width="80" height="80" src="Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>-->
<img align="left" width="80" height="80" src="/wiki/Images/logo_Z4D.png"><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>
</h1>
</div>

<!-- Matomo Image Tracker-->
<img src="https://z4d.pipiche.net/matomo.php?idsite=2&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->

<!-- You can set your favicon here -->
< link rel="shortcut icon" type="image/x-icon" href="{{ '/wiki/Images/favicon.ico' | relative_url }}" >

<!-- end custom head snippets -->
