<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->



<div class="container-lg my-5 markdown-body">
<h1>
<!--<a href="Home.md"><img align="left" width="80" height="80" src="Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>-->
  <a href="./"><img align="left" width="80" height="80" src="/wiki/Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>
</h1>
</div>




<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/Images/favicon.ico' | relative_url }}" >

 
   <!--        {% include head-custom-matomo.html %} -->
 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ez-consent@1/dist/ez-consent.min.js"></script>
  ez_consent.init(
  {
    is_always_visible: false,       // Always shows banner on load, default: false
    privacy_url: "/privacy",        // URL that "more" button goes to, default: "/privacy/"
    more_button: {
      target_attribute : "_blank",  // Determines what the behavior of the 'more' button is, default: "_blank", opens the privacy page in a new tab
      is_consenting: true           // Determines whether clicking on 'more' button gives consent and removes the banner, default: true
    },
    texts: {
      main: "We use cookies",       // The text that's shown on the banner, default: "This website uses cookies & similar."
      buttons:
      {
        ok: "ok",                   // OK button to hide the text, default: "ok"
        more: "more"                // More button that shows the privacy policy, default "more"
      }
    }
  });
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ez-consent@1/dist/themes/subtle-bottom-right.min.css">
  
<!-- end custom head snippets -->
