<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-matomo.html %}
{% include banner.html %}
<div class="container-lg my-5 markdown-body">
<h1>
<!--<a href="Home.md"><img align="left" width="80" height="80" src="Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>-->
  <a href="./"><img align="left" width="80" height="80" src="/wiki/Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>
</h1>
</div>


<!-- Matomo Image Tracker-->
<img src="https://z4d.pipiche.net/matomo.php?idsite=5&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/Images/favicon.ico' | relative_url }}" >

  <div id="cookies-eu-banner" style="display: none;">
    By continuing to visit this site, you accept the use of cookies by Google Analytics for statistical purposes.
    <a href="./read-more.html" id="cookies-eu-more">Read more</a>
    <button id="cookies-eu-reject">Reject</button>
    <button id="cookies-eu-accept">Accept</button>
</div>
  
<!-- end custom head snippets -->
